# Load and explore the data

## Import libraries

In [2]:
# Import pandas, numpy, and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# seaborn is a data visualization library built on matplotlib
import seaborn as sns

# set the plotting style
sns.set_style("whitegrid")

<pre>



















</pre>

## Load the data

##### Load the EdGap data set

In [ ]:
edgap = pd.read_excel(
    'https://raw.githubusercontent.com/brian-fischer/DATA-5100/main/EdGap_data.xlsx',
    dtype={'NCESSCH School ID': object}
)

<pre>



























</pre>

##### Download the school information data

In [ ]:
!wget -O ccd_sch_029_1617_w_1a_11212017.csv https://www.dropbox.com/s/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv?dl=0

In [ ]:
!ls

<pre>

































</pre>

##### Load the school information data in pandas

In [ ]:
school_information = pd.read_csv(
    "ccd_sch_029_1617_w_1a_11212017.csv", encoding="unicode_escape"
)

<pre>






























</pre>

## Explore the contents of the data sets

##### Start by looking at the head of each data frame.
This will let us see the names of the columns and a few example values for each column. We can also check whether the data is in tidy format.

In [ ]:
edgap.head()

<pre>
























</pre>

##### School information data set

In [ ]:
school_information.head()

In [ ]:
pd.set_option('display.max_columns', None)

school_information.head()

<pre>


































</pre>

##### Use the `info` method to check the data types, size of the data frame, and numbers of missing values.

In [ ]:
edgap.info()

<pre>































</pre>

##### School information data set

In [ ]:
school_information.info()

<pre>
























</pre>

## Summary

1.  The school information data set is much larger than the EdGap data set. Clearly the EdGap data set does not include all schools.

2.  There are missing values in each data set.

3.  Each data set is in a tidy, or long format.

4.  The data types for the variables of interest look correct, but the school identifier is an `object` in the EdGap data set and a `float64` in the school information data set.

<pre>































</pre>

# Are the data suitable for answering the question?

We want to perform quick exploratory data analysis to determine whether the data are sufficient to answer our question. If the data are not sufficient, we do not want to waste time doing anything that will not be productive.

Make a pair plot to explore relationships between the variables.

In [ ]:
sns.pairplot(
    edgap.drop(columns="NCESSCH School ID")
);
plt.show()

<pre>
























</pre>

##### Add regression lines and format the pair plot

In [ ]:
fig = sns.pairplot(
    edgap.drop(columns="NCESSCH School ID"),
    kind="reg",
    plot_kws={
        "line_kws": {"color": "blue"},
        "scatter_kws": {"alpha": 0.5, "color": "k", "s": 7},
    },
)

for ax in fig.axes.flat:
    if ax.get_xlabel() == 'CT Median Household Income':
        ax.ticklabel_format(style='sci', axis='x', scilimits=(0,0))  # Apply scientific notation
    ax.set_xlabel(ax.get_xlabel(), fontsize=8, rotation=30, ha='right')  # X-axis label size and rotation
    ax.set_ylabel(ax.get_ylabel(), fontsize=8)  # Y-axis label size

    # Rotate x-axis tick labels
    plt.setp(ax.get_xticklabels(), rotation=30, ha='right')


plt.show()

<pre>
























</pre>

##### Plot a single row

In [ ]:
fig = sns.pairplot(
    edgap.drop(columns="NCESSCH School ID"),
    y_vars=['School ACT average (or equivalent if SAT score)'],
    kind="reg",
    plot_kws={
        "line_kws": {"color": "blue"},
        "scatter_kws": {"alpha": 0.5, "color": "k", "s": 7},
    },
)

for ax in fig.axes.flat:
    if ax.get_xlabel() == 'CT Median Household Income':
        ax.ticklabel_format(style='sci', axis='x', scilimits=(0,0))  # Apply scientific notation
    ax.set_xlabel(ax.get_xlabel(), fontsize=8, rotation=30, ha='right')  # X-axis label size and rotation
    ax.set_ylabel(ax.get_ylabel(), fontsize=8)  # Y-axis label size

    # Rotate x-axis tick labels
    plt.setp(ax.get_xticklabels(), rotation=30, ha='right')

plt.show()

<pre>
























</pre>

## Summary

1. There appears to be a relationship between the socioeconomic variables and the ACT score.

2.  There are some out-of-range ACT and percent lunch values that will need to be dealt with.

3.  We should have confidence that it is worthwhile to spend time preparing the data for analysis.

<pre>





























</pre>

# Data Preparation

## Select relevant subsets of the data

The school information data set contains many columns. We only need the year, school identity, location, and school type information.

Keep the columns `SCHOOL_YEAR`, `NCESSCH`, `LSTATE`, `LZIP`, `SCH_TYPE_TEXT`, `LEVEL`, `CHARTER_TEXT`

In [ ]:
school_information = school_information[
    ['SCHOOL_YEAR', 'NCESSCH', 'LSTATE', 'LZIP', 'SCH_TYPE_TEXT', 'LEVEL', 'CHARTER_TEXT']
]

In [ ]:
school_information.head()

<pre>
























</pre>

## Rename columns

We will rename the columns to follow best practices of style and being informative. We can do this before or after joining the data sets. We will do it before joining the data sets to make it obvious that the key has the same name in each data set (this isn't required, but it makes your work easier to read).

In [3]:
edgap = edgap.rename(
    columns={
        "NCESSCH School ID": "id",
        "CT Pct Adults with College Degree": "percent_college",
        "CT Unemployment Rate": "rate_unemployment",
        "CT Pct Childre In Married Couple Family": "percent_married",
        "CT Median Household Income": "median_income",
        "School ACT average (or equivalent if SAT score)": "average_act",
        "School Pct Free and Reduced Lunch": "percent_lunch",
    }
)

NameError: name 'edgap' is not defined

<pre>
























</pre>

##### Rename the columns `SCHOOL_YEAR`, `NCESSCH`, `LSTATE`, `LZIP`, `SCH_TYPE_TEXT`, `LEVEL`, `CHARTER_TEXT` to `year`, `id`, `state`, `zip_code`, `school_type`, `school_level`, `charter`

In [ ]:
school_information = school_information.rename(
    columns={
        "SCHOOL_YEAR": "year",
        "NCESSCH": "id",
        "LSTATE": "state",
        "LZIP": "zip_code",
        "SCH_TYPE_TEXT": "school_type",
        "LEVEL": "school_level",
        "CHARTER_TEXT": "charter"
    }
)

In [ ]:
edgap.head()

In [ ]:
school_information.head()

<pre>
























</pre>

## Summary

1. We selected a subset of columns of the school information data set.

2.  We renamed the columns for clarity and to follow formatting guidelines.

3.  We are ready to join the data frames.

<pre>





























</pre>

# Join data frames

We want to join the DataFrames using the identity of the school as the key. The identity is given by the NCESSCH school identity. The value is an `object` in the EdGap data set and a `float64` in the school information data set.

We will cast the `id` column in the `school_information` DataFrame as an `object`.

In [ ]:
school_information['id'] = school_information['id'].astype('object')

In [ ]:
school_information.info()

<pre>
























</pre>

##### Join the data frames and call the result `df`.

In [ ]:
df = edgap.merge(
    school_information,
    how='left',
    on='id'
)

In [ ]:
df.head()

In [ ]:
df.info()

<pre>
























</pre>

## Summary

1. We joined the data sets using the school `id` as the key.

2. We first cast the `id` as an object to have the same data type for the key in each data set.

3. We used a left join to keep all EdGap data.

<pre>





























</pre>

# Quality Control

##### There are natural bounds for the numerical variables in the data set. Check the minimum and maximum values in each column.

We can use the `describe()` method to compute descriptive statistics

In [ ]:
df.describe()

<pre>
























</pre>

##### or use the `min` and `max`

In [ ]:
df.select_dtypes(include=['number']).agg(['min', 'max']).round(2)

<pre>
































</pre>

##### Set out-of-range values to `NaN` using `np.nan`.

In [ ]:
df.loc[df['percent_lunch'] < 0, 'percent_lunch'] = np.nan

In [ ]:
df.loc[df['average_act'] < 1, 'average_act'] = np.nan

<pre>





























</pre>

##### Check the types, levels, and charter status of schools

In [ ]:
df['school_type'].value_counts()

In [ ]:
df['school_level'].value_counts()

In [ ]:
df['charter'].value_counts()

<pre>





























</pre>

##### Keep only the high schools.

In [ ]:
df = df.loc[df['school_level'] == 'High']

<pre>
































</pre>

##### Check for any duplicated rows

In [ ]:
df.duplicated().sum()

<pre>




























</pre>

##### It is possible that there are incorrectly recorded values in the data set, but we will not go that far in this example.

<pre>
























</pre>

## Identify missing values

How many values of each variable are missing?

In [ ]:
df.isna().sum().to_frame(name='Number of Missing Values')

<pre>
























</pre>

##### What percentage of values of each variable are missing?

In [ ]:
percent_missing = df.isna().mean().round(4) * 100

percent_missing.to_frame(name='Percent Missing Values')

<pre>
























</pre>

##### What states do we have data from?

In [ ]:
df['state'].value_counts()

In [ ]:
df['state'].nunique()

<pre>
























</pre>

##### Plot the results on a map

In [ ]:
import plotly.offline as po
import plotly.graph_objs as pg

In [ ]:
layout = dict(
    geo={"scope": "usa"}, coloraxis_colorbar=dict(title="Number of Schools")
)

data = dict(
    type="choropleth",
    locations=df["state"].value_counts().index,
    locationmode="USA-states",
    z=df["state"].value_counts().values,
    coloraxis="coloraxis",
)

x = pg.Figure(data=[data], layout=layout)

po.iplot(x)

<pre>
























</pre>

##### We are missing a large amount of USA data due to omission. This is not evident by examining `NaN` values in the data set.

We could obtain this information from public records, but we will not do that here.

<pre>
























</pre>



##### Drop the rows where the average ACT score is missing

In [ ]:
df = df.dropna(subset=['average_act'])

In [ ]:
df.isna().sum().to_frame(name='Number of Missing Values')

<pre>
























</pre>

##### If we drop rows that have `NaNs` for any socioeconomic variables, then we will negatively affect our analysis using the variables where data were present. So, we will not drop the rows in this data set that are missing the socioeconomic variables. We will impute the missing values.

<pre>
























</pre>

## Summary

1. We set out-of-range values to `NaN` and will impute them.

2. We kept only high schools.

3.  We removed schools where we do not have the ACT score.

4.  Many schools are missing from the data by omission.

5.  We will impute missing values of socioeconomic variables.

<pre>





























</pre>

# Data imputation

##### Define the predictor variables to be `rate_unemployment`, `percent_college`, `percent_married`, `median_income`, `percent_lunch`, `state`, and `charter`.

In [ ]:
predictor_variables = [
    'rate_unemployment',
    'percent_college',
    'percent_married',
    'median_income',
    'percent_lunch',
    'state',
    'charter'
]

<pre>
























</pre>

##### Use the iterative imputer to replace missing values in the columns corresponding to predictor variables in the analysis.

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
imputer = IterativeImputer()

<pre>
























</pre>

##### Fit the imputer using the numerical predictor variables (this can include dummies for categorical variables).

Define the columns you want to use in the imputation process

In [ ]:
numerical_predictors = df[predictor_variables].select_dtypes(include='number').columns.to_list()

print(numerical_predictors)

<pre>
























</pre>

##### Fit the imputer

In [ ]:
imputer.fit(df.loc[:, numerical_predictors])

<pre>
























</pre>

##### Impute the missing values in the training data.

In [ ]:
df.loc[:, numerical_predictors] = imputer.transform(df.loc[:, numerical_predictors])

<pre>
























</pre>

##### Check for missing values

In [ ]:
df.isna().sum().to_frame(name='Number of Missing Values')

<pre>
























</pre>

###### Export the clean data set

In [ ]:
df.to_csv(
    'education_clean.csv',
    encoding='utf-8-sig',
    index=False
)

In [ ]:
from google.colab import files

files.download('education_clean.csv')

## Summary

1. We used an interative imputer to estimate missing values of numerical predictor variables

2. We saved the clean data frame as a csv file.